<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js") 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
    link(rel="stylesheet" href="/styles.css")
    <title>Visor de mensajes</title>
</head>

<body>
    ul#messages
    div#form-message
        input#message(type="text", name="", placeholder="Escribe el mensaje que quieras mandar")
        button#send Enviar
</body>

</html>