@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@200&display=swap');
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#form-message {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#form-message input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid grey;
    padding: 0px 20px;
    border-radius: 50PX;
    outline: none;
}

#form-message button {
    background: steelblue;
    color: white;
    border: 0px;
    font-size: 18px;
    padding: 8px 17px;
    margin-left: 20px;
    border-radius: 10px;
}

#messages {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 140px 0px;
}

#messages li {
    padding: 10px 40px;
    background: steelblue;
    color: white;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input,
button {
    font-family: 'Roboto Slab', serif;
}